html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
  }
  
  
  h1 {
    font-size: 60px;
    text-align: center;
  }
  
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  
  
  html {
    background-color: #1b76df;
  }
  
  body {
    width: 600px;
    margin: 0 auto;
    background-color: #e8e8d3;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
  
  /* Add a black background color to the top navigation */
.topnav {
  background-color: #dbd3db;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #dbd3db;
  color: white;
}